.layout {
  display: grid;
  grid-template-columns: repeat(99, 1fr);
  grid-template-rows: repeat(99, 1fr);
  height: 100%;
  width: 100%;
  padding: 10px;
}

.box {
  margin: 10px;
}

/* SalesQualityWidget */
.box1 {
  grid-column: 1 / 32;
  grid-row: 1 / 46;
}

/* OrdersWidget */
.box2 {
  grid-column: 75 / 100;
  grid-row: 1 / 30;
}

/* OffersListingWidget */
.box3 {
  grid-column: 32 / 75;
  grid-row: 1 / 46;
}

/* SalesChartWidget */
.box4 {
  grid-column: 1 / 75;
  grid-row: 45 / 100;
}

/* CustomersOpinionsWidget */
.box5 {
  grid-column: 75 / 100;
  grid-row: 29 / 100;
}
