.wrapper {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 120px;
  background-color: var(--blue-3);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}

.userinfo {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.photo {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.username {
  font-family: var(--font-medieval);
  font-weight: 400;
  color: var(--grey-1);
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(120px - 30px);
  display: inline-block;
}
