.containerDashboard {
  display: flex;
  height: 100vh;
  width: 100%;
}

.menu {
  flex: 0 0 auto;
}

.display {
  flex: 1;
  background-color: var(--brown-3);
  background-image: url("../../assets/wood.png");
  background-size: cover;
  background-position: center;
  overflow: auto;
}
