.layout {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--blue-2);
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  text-align: center;
  font-family: var(--font-federant);
  font-weight: 400;
  padding: 0 50px;
}

.title {
  font-size: 3rem;
  overflow: visible;
}

.subtitle {
  font-size: 2rem;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
    overflow: visible;
  }

  .subtitle {
    font-size: 1rem;
  }
}

.ornament {
  position: absolute;
  width: 170px;
  height: 170px;
  background: url("../../assets/ornament.png") no-repeat center center;
  background-size: contain;
}

.ornament.top-left {
  top: 0;
  left: 0;
}

.ornament.top-right {
  top: 0;
  right: 0;
  transform: rotate(90deg);
}

.ornament.bottom-left {
  bottom: 0;
  left: 0;
  transform: rotate(270deg);
}

.ornament.bottom-right {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

.main {
  position: relative;
  height: 100%;
}
