.widget {
  position: relative;
  padding: 15px;
  padding-bottom: 18px;
  background-color: var(--yellow-2);
  color: var(--grey-6);
  font-family: var(--font-medieval);
  display: flex;
  height: 100%;
  border: 1px solid var(--grey-6);

  label {
    color: var(--yellow-2-button-text);
  }
  h1 {
    margin-bottom: 8px;
    margin-top: 0px;
  }

  h3 {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

.headerWidget {
  font-family: var(--font-federant);
  font-size: 20px;
  text-align: center;
  margin: 0;
}
