.buttonWrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 10px;
    z-index: 1000;
  }
  
  .buttonOuter {
    position: relative;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .buttonInner {
    position: absolute;
    background-color: #f4a261;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .lines {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  
  .line {
    stroke: #000;
    stroke-width: 3;
  }
  