@import url("https://fonts.googleapis.com/css2?family=Federant&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Federant&family=MedievalSharp&display=swap");

:root {
  --font-federant: "Federant", serif;
  --font-medieval: "MedievalSharp", serif;
}

/* LIGHT MODE */
:root {
  /* Niebieski (Blue) */
  --blue-1: #97cdff;
  --blue-2: #689ac3;
  --blue-3: #386887;
  --blue-4: #09354b;
  --blue-5: #042838;
  --blue-6: #001a25;
  --blue-shadow: rgb(0, 26, 37, 0.5);

  /* Żółty (Yellow) */
  --yellow-1: #fff478;
  --yellow-2: #ffc500;
  --yellow-2-button-text: #ffc500;
  --yellow-3: #c99800;
  --yellow-4: #926c00;
  --yellow-5: #5b3f00;
  --yellow-6: #251200;

  /* Brązowy (Brown) */
  --brown-1: #fff1e3;
  --brown-2: #bba08d;
  --brown-3: #764e36;
  --brown-4: #5e3824;
  --brown-5: #452312;
  --brown-6: #2d0d00;

  /* Szary (Grey) */
  --grey-1: #f4f4f4;
  --grey-2: #a4a1a0;
  --grey-3: #534e4b;
  --grey-4: #423b37;
  --grey-5: #322924;
  --grey-6: #211610;
}

/* DARK MODE */
body.dark-mode {
  --blue-2: #001a25;
  --blue-3: #386887;
  --blue-shadow: rgb(151, 205, 255, 0.2);

  --yellow-1: #fff478;
  --yellow-2: #251200;
  --yellow-2-button-text: #689ac3;
  --yellow-3: #c99800;
  --yellow-4: #926c00;
  --yellow-5: #5b3f00;
  --yellow-6: #251200;

  --brown-1: #fff1e3;
  --brown-2: #bba08d;
  --brown-3: #534e4b;
  --brown-4: #322924;
  --brown-5: #452312;
  --brown-6: #2d0d00;

  --grey-1: #211610;
  --grey-2: #423b37;
  --grey-3: #211610;
  --grey-6: #689ac3;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: var(--grey-6);
}

body {
  margin: 0;
}
